= form_for(@question) do |f|
  - if @question.errors.any?
    #error_explanation
      %h2
        = pluralize(@question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - @question.errors.full_messages.each do |message|
          %li= message
  .row
    .col
      .form-group
        = f.label :name,'Please enter your full name:',:class => "font-weight-bold"
        %br/
        = f.text_field :name,:class => "form-control",:required => true

    .col
      .form-group
        = f.label :user_id,'Assigned Counsellors user ID',:class => "font-weight-bold"
        %br/
        //= f.text_field :user_id, :class => "form-control",:required => true
   
        = f.select(:user_id) do 
          - @userList.each do |l|
            = content_tag(:option, l.provider_id, value: l.provider_id, :class => "form form-group form-control",:required => true )

  %br/ 
  .row
    .col
      
      .form-group
        = f.label :mrn,'Please enter your Medical Record Number',:class => "font-weight-bold"
        %br/
        = f.text_field :mrn, :class => "form-control",:required => true, :maxlength => "10"
    .col
      .form-group
      
        = f.label :age, 'Please enter your age (in years):',:class => "font-weight-bold"
        %br/
        = f.number_field :age,:class => "form-control",:required => true, :min => 0 , :max => 199        
  %br/
  // .form-group
  //   = f.label :age, 'Please enter your age (in years):'
  //   %br/
  //   = f.number_field :age,:class => "form-control",:required => true
  %br/
  .form-group
    = f.label :question2,'Compared to women your age, how would you rate your own risk of fracturing or breaking a bone?',:class => "font-weight-bold"
  .radio 
    %label
      = f.radio_button :question2, 1, :required => true
      Much Lower     
  .radio
    %label
      = f.radio_button :question2, 2
      A Little Lower
  .radio
    %label
      = f.radio_button :question2, 3
      About the same 
  .radio
    %label
      = f.radio_button :question2, 4
      A Little Higher
  .radio
    %label
      = f.radio_button :question2, 5
      Much Higher
  %br/
  .form-group
    = f.label :question3,'How confident are you filling out medical forms by yourself?',:class => "font-weight-bold"
  .radio
    %label
      = f.radio_button :question3, 1,:required => true
      Not at all
  .radio
    %label
      = f.radio_button :question3, 2
      A Little Bit
  .radio
    %label
      = f.radio_button :question3, 3
      Somewhat
  .radio
    %label
      = f.radio_button :question3, 4
      Quite a Bit
  .radio
    %label
      = f.radio_button :question3, 5
      Extremely
  %br/
  .form-group
    = f.label :question4,'People get information about osteoporosis medication from different sources. Have you recieved information about possible osteoporosis medication in past year?',:class => "font-weight-bold"
  .radio
    %label
      = f.radio_button :question4, true,:required => true
      Yes
  .radio
    %label
      = f.radio_button :question4, false
      No
  %br/ 
  .form-group
    = f.label :question51,'There are better ways for me to treat my osteoporosis besides medication.',:class => "font-weight-bold"
  .radio
    %label
      = f.radio_button :question51, 1,:required => true
      Strongly Disgree
  .radio
    %label
      = f.radio_button :question51, 2
      Disagree
  .radio
    %label
      = f.radio_button :question51, 3
      Neutral
  .radio
    %label
      = f.radio_button :question51, 4
      Agree
  .radio
    %label
      = f.radio_button :question51, 5
      Strongly Agree
  %br/
  .form-group
    = f.label :question52, 'Doctors are too quick to prescribe medication.',:class => "font-weight-bold"
  .radio
    %label
      = f.radio_button :question52, 1,:required => true
      Strongly Disgree
  .radio
    %label
      = f.radio_button :question52, 2
      Disagree
  .radio
    %label
      = f.radio_button :question52, 3
      Neutral
  .radio
    %label
      = f.radio_button :question52, 4
      Agree
  .radio
    %label
      = f.radio_button :question52, 5
      Strongly Agree
  %br/
  .form-group
    = f.label :question53, 'Doctors often give medication when advice would be better',:class => "font-weight-bold"
  .radio
    %label
      = f.radio_button :question53, 1,:required => true
      Strongly Disgree
  .radio
    %label
      = f.radio_button :question53, 2
      Disagree
  .radio
    %label
      = f.radio_button :question53, 3
      Neutral
  .radio
    %label
      = f.radio_button :question53, 4
      Agree
  .radio
    %label
      = f.radio_button :question53, 5
      Strongly Agree
  %br/
  .form-group
    = f.label :question54, 'I can take care of my osteoporosis without medication.',:class => "font-weight-bold"
  .radio
    %label
      = f.radio_button :question54, 1,:required => true
      Strongly Disgree
  .radio
    %label
      = f.radio_button :question54, 2
      Disagree
  .radio
    %label
      = f.radio_button :question54, 3
      Neutral
  .radio
    %label
      = f.radio_button :question54, 4
      Agree
  .radio
    %label
      = f.radio_button :question54, 5
      Strongly Agree
  %br/
  .form-group
    = f.label :question55, 'Medications often cause more problems than they solve.',:class => "font-weight-bold"
  .radio
    %label
      = f.radio_button :question55, 1,:required => true
      Strongly Disgree
  .radio
    %label
      = f.radio_button :question55, 2
      Disagree
  .radio
    %label
      = f.radio_button :question55, 3
      Neutral
  .radio
    %label
      = f.radio_button :question55, 4
      Agree
  .radio
    %label
      = f.radio_button :question55, 5
      Strongly Agree
  %br/
  .form-group
    = f.label :question56, 'I prefer not to take medication',:class => "font-weight-bold"
  .radio
    %label
      = f.radio_button :question56, 1,:required => true
      Strongly Disgree
  .radio
    %label
      = f.radio_button :question56, 2
      Disagree
  .radio
    %label
      = f.radio_button :question56, 3
      Neutral
  .radio
    %label
      = f.radio_button :question56, 4
      Agree
  .radio
    %label
      = f.radio_button :question56, 5
      Strongly Agree
  %br/
    
  .form-group
    = f.label :question6, "Please choose the one statement that best reflects your feelings about recieving medicines now",:class => "font-weight-bold"
  .radio
    %label
      = f.radio_button :question6, 1,:required => true
      I do not think I need treatment for osteoporosis    
  .radio
    %label
      = f.radio_button :question6, 2
      I am aware that there are treatments available for my osteoporosis, but I have never thought seriously about using these medications.
  .radio
    %label
      = f.radio_button :question6, 3
      I have considered of using or have prevously used osteoporosis medication, but I have decided against taking it     
  .radio
    %label
      = f.radio_button :question6, 4
      I am currently considering the use of osteoporosis medication, but I have not made up my mind. 
  .radio
    %label
      = f.radio_button :question6, 5
      I have decided to use osteoporosis medication, but I have not yet started taking anything  
  .radio
    %label
      = f.radio_button :question6, 6
      I have started taking medication for osteoporosis    
  
    %br/  
    %br/
    
  .form-group#center
    
    
    // = link_to 'Go Back', root_path, :class => "btn btn-danger"
    
    = f.submit  'Submit Response', :class => "btn btn-success"

