= form_for(@question) do |f|
  - if @question.errors.any?
    #error_explanation
      %h2
        = pluralize(@question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - @question.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name,'Please enter your full name:'
    %br/
    = f.text_field :name
  .field
    = f.label :mrn,'Please enter your Medical Record Number'
    %br/
    = f.text_field :mrn
  .field
    = f.label :age, 'Please enter your age:'
    %br/
    = f.number_field :age
  .field
    = f.label :question2,'Compared to women your age, how would you rate your own risk of fraturing or breaking a bone?'
    %br/
    = f.number_field :question2
  .field
    = f.label :question3,'How confident are you filling out medical forms by yourself?'
    %br/
    = f.number_field :question3
  .field
    = f.label :question4,'People get information about osteoporosis medication from different sources. Have you recieved information about possible osteoporosis medication in past year?'
    %br/
    = f.label :question4, 'Yes', :value => true
    = f.radio_button :question4, true
    = f.label :question4, 'No', :value => false
    = f.radio_button :question4, false
  .field
    = f.label 'For each of the following, please mark the one answer that best represents your views on osteoporosis and osteoporosis treatments'
    %br/
    = f.label :question51,'There are better ways for me to treat my osteoporosis besides medication.'
    %br/
    = f.select :question51, [['Strongly Disagree',1],['Disagree',2],['Neutral',3],['Agree',4],['Strongly Agree',5]]
  .field
    = f.label :question52, 'Doctors are too quick to prescribe medication.'
    %br/
    = f.select :question52, [['Strongly Disagree',1],['Disagree',2],['Neutral',3],['Agree',4],['Strongly Agree',5]]
  .field
    = f.label :question53, 'Doctors of often give medication when advice would be better'
    %br/
    = f.select :question53, [['Strongly Disagree',1],['Disagree',2],['Neutral',3],['Agree',4],['Strongly Agree',5]]
  .field
    = f.label :question54, 'I can take care of my osteoporosis without medication.'
    %br/
    = f.select :question54, [['Strongly Disagree',1],['Disagree',2],['Neutral',3],['Agree',4],['Strongly Agree',5]]
  .field
    = f.label :question55, 'Medications often cause more problems than they solve.'
    %br/
    = f.select :question55, [['Strongly Disagree',1],['Disagree',2],['Neutral',3],['Agree',4],['Strongly Agree',5]]
  .field
    = f.label :question56, 'I prefer not to take medication'
    %br/
    = f.select :question56, [['Strongly Disagree',1],['Disagree',2],['Neutral',3],['Agree',4],['Strongly Agree',5]]
  .field
    = f.label :question6, 'Please choose the one statement that best reflects your feelings about recieving medicines now.'
    %br/
    = f.radio_button :question6, 1
    = f.label :question6, 'I do not think I need treatment for osteoporosis', :value => 1
    %br/
    = f.radio_button :question6, 2
    = f.label :question6, 'I am aware that there are treatments available for my osteoporosis, but I have never thought seriously about using these medications', :value => 2
    %br/
    = f.radio_button :question6, 3
    = f.label :question6, 'I have considered using or have previously used osteoporosis medication, but I have decided against taking it.', :value => 3
    %br/
    = f.radio_button :question6, 4
    = f.label :question6, 'I am currently considering the use of osteoporosis medication, but I have not made up my mind.', :value => 4
    %br/
    = f.radio_button :question6, 5
    = f.label :question6, 'I have decided to use osteoporosis medication, but I have not yet started taking anything', :value => 5
    %br/
    = f.radio_button :question6, 6
    = f.label :question6, 'I have started medication for osteoporosis', :value => 6
    %br/
    
  .actions
    = f.submit
