

.container
  %p#notice= notice
  %p
    %strong Name:
  = @question.name
  %p
    %strong Mrn:
  = @question.mrn
  %p
    %strong Age:
  = @question.age
  %p
    %strong Question2:
  = @question.question2
  %p
    %strong Question3:
  = @question.question3
  %p
    %strong Question4: 
  = @question.question4
  %p
    %strong Question51:
  = @question.question51
  %p
    %strong Question52:
  = @question.question52
  %p
    %strong Question53:
  = @question.question53
  %p
    %strong Question54:
  = @question.question54
  %p
    %strong Question55:
  = @question.question55
  %p
    %strong Question56:
  = @question.question56
  %p
    %strong Question6:
  = @question.question6
  
  = link_to '  Go  Back ', questions_path, :class => "btn btn-danger"
  %span#pad
  = link_to 'Edit Response', edit_question_path(@question),:class => "btn btn-secondary"


