<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Mrn:</strong>
  <%= @question.mrn %>
</p>

<p>
  <strong>Age:</strong>
  <%= @question.age %>
</p>

<p>
  <strong>Question2:</strong>
  <%= @question.question2 %>
</p>

<p>
  <strong>Question3:</strong>
  <%= @question.question3 %>
</p>

<p>
  <strong>Question4:</strong>
  <%= @question.question4 %>
</p>

<p>
  <strong>Question51:</strong>
  <%= @question.question51 %>
</p>

<p>
  <strong>Question52:</strong>
  <%= @question.question52 %>
</p>

<p>
  <strong>Question53:</strong>
  <%= @question.question53 %>
</p>

<p>
  <strong>Question54:</strong>
  <%= @question.question54 %>
</p>

<p>
  <strong>Question55:</strong>
  <%= @question.question55 %>
</p>

<p>
  <strong>Question56:</strong>
  <%= @question.question56 %>
</p>

<p>
  <strong>Question6:</strong>
  <%= @question.question6 %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
