.container
  %br
  %h2.text-center Forgot your password?
  %br
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email , class: "control-label"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
      %br
    .actions
      = f.submit "Send me reset password instructions" ,class: "btn btn-lg btn-success  btn-login text-uppercase d mb-2"
  = render "devise/shared/links"
